@import "./variables.scss";
@import "../internals/aph-colors.scss";


@mixin content($theme) {
	.feature {
		display: flex;
		flex-direction: column;
		flex: 1;
	}
	
	.feature__illustration {
		margin-bottom: 3rem;
		align-self: start;
	}
	
	.feature__title {
		font-weight: var(--ifm-font-weight-semibold);
	}
	
	.feature__description {
		margin: 0;
		@if $theme == "dark" {
			color: $color-royal-light;

		} @else {
			color: $color-royal-dark;
		}
		font-size: $font-size-normal;
	}
	
	.feature__description::before {
		content: "> ";
		@if $theme == "dark" {
			color: $color-royal-light;

		} @else {
			color: $color-royal-dark;
		}
	}

	@media (max-width: 996px) {
		.feature {
			align-items: center;
		}
	
		.feature:not(:last-child) {
			margin-bottom: 3rem;
		}
	
		.feature__illustration {
			margin-bottom: 2rem;
			align-self: center;
		}
	}
}


html[data-theme="dark"] {
	@include content("dark");
}
html[data-theme="light"] {
	@include content("light");
}
