@import "./variables.scss";
@import "../internals/aph-colors.scss";
@import "../internals/effects.scss";


.feature {
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: center;
	padding: 1rem;

	> * {
		text-decoration: none;
		@include patternBackground;

		&:hover, &:active {
			@include patternBackgroundLighter;
			text-decoration: none;
		}
		padding: 1rem;
		display: flex;
		flex-direction: column;
		flex: 1;
		align-items: center;
	}
}

.feature__illustration {
	margin-bottom: 1rem;
	align-self: start;
	width: 300px;
}

.feature__title {
	font-weight: var(--ifm-font-weight-semibold);
}

.feature__description {
	margin: 0;
	color: $color-royal-light;
	font-size: $font-size-normal;
}

.feature__description::before {
	content: "> ";
	color: $color-royal-light;
}

@media (max-width: 996px) {
	.feature {
		align-items: center;
	}

	.feature:not(:last-child) {
		margin-bottom: 3rem;
	}

	.feature__illustration {
		margin-bottom: 2rem;
		align-self: center;
	}
}