@mixin widget  {
	border-image-slice: 60;
	border-image-width: 180px;
	border-image-outset: 0px 0px 0px 0px;
	border-image-repeat: repeat repeat;
	border-image-source: url("/img/pages/index/items_bgr.svg");
}