@import "../internals/aph-colors.scss";

@keyframes spinner {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }

  .spinner {
	width: 100%;
	display: flex;
	justify-content: center;
  }

  .loading {
	width: 100px;
	height: 100px;
	border: 10px solid $color-rhino-5;
	border-top: 10px solid $color-rhino-60;
	border-radius: 50%;
	animation: spinner 1.5s linear infinite;
  }