@import "./variables.scss";
@import "../internals/aph-colors.scss";
@import "../internals/effects.scss";

.title {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	margin-top: 50px;
}


.title__title {
	display: flex;
}

.title__title h2 {
	font-weight: 300;
	padding: 20px;
	text-transform: uppercase;
	font-size: min($font-size-xxlarge, 8vw);
	text-align: center;
	@extend .chromatic;
}

.title__logo {
	display: flex;
	flex-direction: column;
	flex: 0 1 606px;
	align-items: self-start;
	position: relative;
}

.title__section {
	background: url('/img/pages/index/logo_light.svg') bottom center no-repeat;
	background-position-y: 115%;
}

@media (max-width: 700px) {
	.title__section {
		background-position-y: 60vw;
	}
}

.svgGlow {
	animation: pulseGlow 5s ease infinite;
}

.chromatic {
	transition: text-shadow 2s ease;
	animation: chromaticMove 2.5s ease infinite, pulse 6s ease infinite;
}
