// ===================== FONTS ========================

$font-size-small: 18px;
$font-size-normal: 20px;
$font-size-large: 24px;
$font-size-llarge: 32px;
$font-size-xlarge: 46px;
$font-size-xxlarge: 64px;
$font-size-xxxlarge: 80px;